/* * {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
} */

/* Início - Cabeçalho */

/* header{
    background-color: #05CBF8;
} */

/* Fim - Cabeçalho */

.iframe-style {
    width: 80%;
    height: 400px;
    display: flex;
    margin: 0 auto;
}